In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-10-04 01:51:58,-54.8000,-68.3000,38.86,65,90,17.27
1,1,Kahului,US,2021-10-04 01:48:22,20.8947,-156.4700,85.26,68,40,21.85
2,2,Hermanus,ZA,2021-10-04 01:51:59,-34.4187,19.2345,52.90,78,20,9.19
3,3,Luderitz,NaN,2021-10-04 01:51:59,-26.6481,15.1594,57.36,54,48,14.85
4,4,Dullewala,PK,2021-10-04 01:51:59,31.8359,71.4362,85.41,51,0,7.47

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure()

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    print(temp)
    temps.append(max(temp, 0))

38.86
85.26
52.9
57.36
85.41
89.65
29.91
48.72
73.26
60.04
39.36
52.09
87.78
48.6
47.12
72.25
31.73
61.16
82.83
81.72
73.09
51.48
39.31
77.47
92.84
61.92
80.42
48.58
86.05
75.36
62.62
72.36
54.27
54.57
45.72
69.8
51.82
33.8
26.04
79.74
59.09
76.89
71.56
73.71
43.45
36.19
79.07
54.93
69.17
35.17
50.94
30.2
79.39
50.0
82.13
75.0
28.8
74.37
84.29
41.18
71.58
70.83
82.29
83.17
50.86
43.27
44.49
56.37
53.37
55.2
37.9
59.47
85.98
65.93
81.28
59.94
41.85
64.22
85.01
58.98
77.14
69.51
59.4
44.65
41.94
72.55
50.5
82.08
35.83
75.25
42.75
65.86
70.84
67.24
54.1
80.01
68.76
24.8
55.63
78.19
85.62
47.19
77.97
70.54
48.0
66.07
104.07
52.09
70.7
79.05
68.07
80.82
68.43
38.14
75.27
26.83
70.66
80.65
85.93
68.29
79.07
46.92
46.81
54.82
23.32
37.24
51.85
59.14
51.8
83.84
75.31
72.9
70.56
30.15
74.55
35.71
66.43
41.59
53.35
75.16
70.77
79.43
84.34
47.73
63.75
78.3
74.79
62.26
42.44
65.79
42.85
61.88
67.91
21.74
65.79
86.02
28.71
86.02
79.77
86.45
73.22
49.12
58.84
66.29
63.09
28.42
89.42
53.51
29.25
59.16
41.04
65.7
35.55
66.38
85.51
78.84
84.47
69.37
84.15
65.37
26.06
54.81
78.26
86.58
51.01
40.84
60.39
21.51
74.16
63.84
79.86
70.02
72.46
42.17
52.93
44.4
34.84
38.43
76.1
62.13
74.3
87.66
80.49
83.12
34.16
50.85
55.29
46.54
80.67
63.34
36.37
77.27
81.0
81.21
63.01
50.0
49.98
26.29
68.0
82.15
84.25
91.62
63.79
52.23
56.35
76.73
61.88
71.06
38.5
45.03
81.19
31.78
84.22
40.15
81.75
88.18
61.02
44.87
84.81
62.58
61.16
74.44
89.55
52.68
80.42
61.86
80.65
76.84
81.77
35.85
79.16
55.31
84.04
79.79
39.74
83.12
39.85
78.75
37.02
71.49
49.08
77.79
70.52
69.53
82.9
30.31
76.84
70.02
73.33
65.12
82.36
44.1
68.02
85.24
42.93
80.04
43.93
84.07
77.07
30.97
76.53
69.39
68.38
75.22
67.8
66.18
22.6
71.02
47.84
83.08
82.94
60.21
80.82
62.37
53.33
39.51
84.25
32.76
78.78
46.99
86.5
85.62
65.19
71.74
51.37
79.68
83.41
78.76
22.98
53.51
67.21
98.58
58.84
76.01
78.39
64.45
44.89
29.3
22.64
80.06
43.14
64.42
22.98
68.4
91.38
34.9
89.38
80.37
52.72
83.21
37.0
69.19
74.64
78.75
77.81
83.5
65.12
36.93
64.81
83.17
88.95
80.37
85.41
25.21
91.22
21.0
46.44
77.14
83.53
53.42
80.6
64.06
72.21
51.64
75.4
82.53
52.23
38.39
77.49
43.05
60.03
80.69
70.48
59.09
53.15
54.77
52.95
72.12
73.6
76.05
71.29
75.25
52.75
73.38
66.16
62.33
80.13
68.72
20.95
42.94
53.85
77.88
56.52
69.73
22.84
83.21
53.11
22.73
43.75
67.28
61.32
79.21
34.3
78.93
77.34
39.79
50.52
34.21
86.11
80.04
53.29
34.66
35.04
62.17
95.77
46.74
71.31
53.85
50.22
82.56
77.09
89.38
33.82
50.7
58.98
31.01
49.8
76.73
41.49
67.33
32.83
81.59
42.53
86.13
79.88
68.02
63.48
80.35
76.37
60.89
70.77
39.92
58.82
73.53
40.91
90.25
74.86
33.84
69.93
79.34
81.12
84.0
70.43
68.95
71.38
58.06
80.47
73.53
58.51
39.63
62.85
82.0
81.72
38.71
55.67
83.32
76.19
64.69
64.11
86.47
82.44
49.95
64.4
62.17
76.15
79.09
76.95
47.23
53.29
58.89
72.64
78.03
83.1
36.14
69.15
42.67
73.78
32.88
82.89
76.48
30.2
84.24
38.05
84.92
44.42
71.62
58.12
61.52
45.93
45.57
79.72
71.49
35.98
58.84
55.78
76.69
83.35
73.67
81.61
96.44
80.1
80.13
65.73
80.78
74.26
37.06
81.99
51.42
47.32
82.08
84.06
57.85
58.33
46.58
92.03
75.22
43.95
75.69
50.83
63.5
73.2
71.22
78.33
71.8
48.67
51.64
29.26
39.27
41.56
70.43
74.77
37.35
60.22
49.68
83.82
37.35
59.0
70.38
79.54
83.89
82.98
62.42
42.01
70.75
80.64
66.47
30.58
43.12
51.15
55.8
66.24
34.29
66.88
53.6
39.2
49.01
72.23
37.96
83.21
83.57
76.66
49.37
74.98
82.09
76.59
73.53
83.93
79.29
79.81
82.04
44.65
79.47
66.88
74.43
55.26
75.38
62.51
61.5
82.56
47.8
70.02
72.27
74.14
84.29
82.63
64.42
50.65
81.12
60.78
63.28
54.55
80.47
65.14
54.99

In [8]:
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kahului,US,2021-10-04 01:48:22,20.8947,-156.4700,85.26,68,40,21.85
4,4,Dullewala,PK,2021-10-04 01:51:59,31.8359,71.4362,85.41,51,0,7.47
5,5,Victoria,HK,2021-10-04 01:51:50,22.2855,114.1577,89.65,76,45,5.01
8,8,Rikitea,PF,2021-10-04 01:52:04,-23.1203,-134.9692,73.26,67,100,17.18
12,12,Kailua,US,2021-10-04 01:52:05,21.4022,-157.7394,87.78,69,20,9.22
15,15,Mahebourg,MU,2021-10-04 01:52:07,-20.4081,57.7000,72.25,88,75,12.66
18,18,Butaritari,KI,2021-10-04 01:52:08,3.0707,172.7902,82.83,67,9,17.09
19,19,Sabang,ID,2021-10-04 01:52:08,5.8933,95.3214,81.72,73,18,13.04
20,20,Campos,BR,2021-10-04 01:52:09,-21.7500,-41.3000,73.09,93,95,7.83
23,23,Atuona,PF,2021-10-04 01:52:10,-9.8000,-139.0333,77.47,74,9,14.88

In [14]:
preferred_cities_df.count()

City_ID       305
City          305
Country       305
Date          305
Lat           305
Lng           305
Max Temp      305
Humidity      305
Cloudiness    305
Wind Speed    305
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1      Kahului      US     85.26  20.8947 -156.4700
4    Dullewala      PK     85.41  31.8359   71.4362
5     Victoria      HK     89.65  22.2855  114.1577
8      Rikitea      PF     73.26 -23.1203 -134.9692
12      Kailua      US     87.78  21.4022 -157.7394
15   Mahebourg      MU     72.25 -20.4081   57.7000
18  Butaritari      KI     82.83   3.0707  172.7902
19      Sabang      ID     81.72   5.8933   95.3214
20      Campos      BR     73.09 -21.7500  -41.3000
23      Atuona      PF     77.47  -9.8000 -139.0333

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 15000,
    "type": "lodging",
    "key": g_key
}

In [26]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kahului,US,85.26,20.8947,-156.4700,Maui Seaside Hotel
4,Dullewala,PK,85.41,31.8359,71.4362,Sajid fruit shop
5,Victoria,HK,89.65,22.2855,114.1577,Mini Hotel Central
8,Rikitea,PF,73.26,-23.1203,-134.9692,People ThankYou
12,Kailua,US,87.78,21.4022,-157.7394,Paradise Bay Resort
...,...,...,...,...,...,...
583,Tete,MZ,84.29,-16.1564,33.5867,Zambeze Paraíso Misterioso
584,Auki,SB,82.63,-8.7676,160.7034,Auki Motel
587,Tual,ID,81.12,-5.6667,132.7500,Grand Vilia Hotel
591,Kollam,IN,80.47,8.8833,76.6000,Nani Hotels and Resorts
592,Puyo,EC,65.14,-1.4667,-77.9833,Hosteria Kindi Wasi

In [29]:
%%htmltel_df.head(

         City Country  Max Temp      Lat       Lng           Hotel Name
1     Kahului      US     85.26  20.8947 -156.4700   Maui Seaside Hotel
4   Dullewala      PK     85.41  31.8359   71.4362     Sajid fruit shop
5    Victoria      HK     89.65  22.2855  114.1577   Mini Hotel Central
8     Rikitea      PF     73.26 -23.1203 -134.9692      People ThankYou
12     Kailua      US     87.78  21.4022 -157.7394  Paradise Bay Resort

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [1]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

NameError: name 'hotel_df' is not defined

In [ ]:
+=[]